/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: square;
}
li{
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	width: 85%;
	/* border: 2px double red; */
	margin: auto;
	
		
}
.opening{
	display:flex;
 justify-content: space-evenly;
 padding-bottom: 10px;
}
.opening a{
	color:purple;
	text-decoration: none;
}
.one{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
	align-items: center;
	/* padding-right: 3em; */
}

.maintitle h1{
	color:blue;
	font-size: 80px;
	text-align: center;
			
}
button{
	margin:0 0 0 115px
}

.top{
	display:flex;
	justify-content: space-around;
}

.thepic .middle-img{
	/* border: 2px dotted blue; */
	display:flex;
	inline-size: auto;
}
/* Border for picture moves correctly, piture does not. */
.bottom{
	display: flex;
	justify-content: space-around;
}

.contact{
	margin-bottom: 3em;
}
.contact address{
	margin-bottom: 1em;
}
.email{
	margin-top: 1em;
}

footer{
	text-align: center;

}
/* Starting service.html */
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%; /*this is saying you can never be bigger than your parent*/
    border:1px solid grey;
}
.services-header-img{
	padding-bottom: 1em;
}
/* .introS{
	display:inline-block;
	
} */

.topbox{
	display:flex;
	justify-content: space-around;
}
.midbox{
	display: flex;
	justify-content: center;
}
.bottombox{
	display: flex;
	justify-content: center;
}
.box1, .box2{
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
    margin-right: auto;
	width: 18em;
	height: 10em;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: smaller;
}
.box3, .box4{
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
    margin-right: auto;
	width: 18em;
	height: 10em;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: smaller;
}

.box5, .box6{
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
    margin-right: auto;
	width: 18em;
	height: 10em;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: smaller;
}

.bottom{
	display:flex;
	justify-content: space-between;
	padding-bottom: 3em;
	
}
.facts{
	display: flex;
	width: 30em;
	height: 12em;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: smaller;
	
}
.list{
	padding-top: 2em;

}
.lastimg{
	margin-right: 2em;
	
}
li{
	margin:10px;
}
hr{
	margin: 1em;
}